.app {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  padding: 10px;
  border: 1px solid grey;
  margin: 10px;
  min-height: 400px;
  text-align: center;
}

.dog-image {
  max-width: 300px;
}
